.task-box {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    flex: 1 0 20%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.current-task-box {
    background-color: blue;
    color: white;
}

.players-line {
    cursor: pointer;
    margin: 5px;
    background-color: lightblue;
}

.person-line {
    cursor: pointer;
    margin: 5px;
    background-color: lightblue;
}

.tasks-wrapper {
  display: flex;
  flex-wrap: wrap;
}
