.tennis-court {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 1fr);
  gap: 2px;
  transform: perspective(500px) rotateX(30deg);
  transform-origin: bottom;
  margin-top: -200px;
  max-width: 500px;
}


/* Center text */
.tennis-court > * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.box1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
  background-color: #f9f9f9;
  border: 1px solid black;
}

.box2 {
  grid-column: 2 / span 6;
  grid-row: 1 / span 2;
  background-color: #f9f9f9;
  border: 1px solid black;
}

.box3 {
  grid-column: 8 / span 1;
  grid-row: 1 / span 4;
  background-color: #f9f9f9;
  border: 1px solid black;
}

.box4 {
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;
  background-color: #f9f9f9;
  border: 1px solid black;
}

.box5 {
  grid-column: 5 / span 3;
  grid-row: 3 / span 2;
  background-color: #f9f9f9;
  border: 1px solid black;
}

.box6 {
  grid-column: 1 / span 8;
  grid-row: 5 / span 1;
  background-color: #33333375;
  border: 1px solid black;
}

.box7 {
  grid-column: 1 / span 1;
  grid-row: 6 / span 6;
  background-color: #f9f9f9;
  border: 1px solid black;
}

.box_1point_right {
  grid-column: 2 / span 3;
  grid-row: 6 / span 3;
  background-color: #fff7de;
  border: 1px solid black;
}

.box_1point_left {
  grid-column: 5 / span 3;
  grid-row: 6 / span 3;
  background-color: #fff7de;
  border: 1px solid black;
}

.box8 {
  grid-column: 8 / span 1;
  grid-row: 6 / span 6;
  background-color: #f9f9f9;
  border: 1px solid black;
}

.box_2point {
  grid-column: 2 / span 6;
  grid-row: 9 / span 1;
  background-color: #ffefc0;
  border: 1px solid black;
}

.box_3point {
  grid-column: 2 / span 6;
  grid-row: 10 / span 1;
  background-color: #fdde84;
  border: 1px solid black;
}

.box_4point {
  grid-column: 2 / span 6;
  grid-row: 11 / span 1;
  background-color: #ffd148;
  border: 1px solid black;
}

.box_power_1point {
  grid-column: 1 / span 8;
  grid-row: 12 / span 1;
  background-color: #f9f9f9;
  border: none;
  padding: 10px;
}

.box_power_double {
  grid-column: 1 / span 8;
  grid-row: 13 / span 1;
  background-color: #009901;
  border: 1px solid black;
}

.active_area:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.push-area {
  transform: scale(1.05);
  border: 5px solid #ff5656;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
