.table_mobility {
  display: flex;
  flex-wrap: wrap;
}

.table_mobility_row1 {
  font-size: 18px;
  font-weight: bold;
}

.table_mobility_row2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 5px;
}

.table_mobility_bluescore {
  color: blue;
  font-weight: bold;
}

.table_mobility_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: calc(100% / 28);
    height: 80px;
}