/* static/login.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: lightgray;
  border-radius: 10px;
}

label, input[type="submit"] {
  margin-top: 10px;
}
