<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/results.css') }}">
    {% block styles %}
      <style>
        /* your styles here */
      </style>
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Головна</a></li>
          {% if logged %}
          <li><a href="/testing/new">Розпочати тест</a></li>
          <li class="dropdown">
            <a class="dropbtn">{{ name }}</a>
            <div class="dropdown-content">
              <form action="/logout" method="post">
                <input type="submit" value="Вийти">
              </form>
            </div>
          </li>
          {% else %}
          <li><a href="/signup">Реєстрація</a></li>
          <li><a href="/login">Увійти</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      &copy; My Website
    </footer>
  </body>
</html>
