{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div><h3>Список групових тестів</h3>
    <a href="/coachtesting/new">
        <button>
            Створити новий тест
        </button>
    </a>
</div>
<table class="list-items">
    <thead>
    <tr class="item">
        <th>Дата</th>
        <th>Місце</th>
    </tr>
    </thead>
    <tbody>
    {% for test in group_tests %}
    <tr class="item" onclick="window.location='/coachtesting/{{test.id_db}}/dashboard';">
        <td>
            {{ test.date }}
        </td>
        <td>
            {{ test.venue }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
