{% extends "base.html" %}

{% block title %}Новий гравець{% endblock %}

{% block content %}
<form method="POST">

    <label for="name">Ім'я</label>
    <input type="text" name="name" id="name" required>

    <label for="date_b">Дата народження</label>
    <input type="date" name="date_b" id="date_b">

    <label for="sex">Стать</label>
    <select name="sex" id="sex">
      <option value="F">Жіноча</option>
      <option value="M">Чоловіча</option>
    </select>

    <button type="submit">Створити</button>
  </form>
{% endblock %}
