{% extends "base.html" %}

{% block title %}Розпочати тест{% endblock %}

{% block styles %}
<style>
    /* your styles for this template here */


</style>
{% endblock %}


{% block content %}

<form class="edit-form" method="post">
    <div>
        <label for="nfirst_nameame">Ім'я:</label>
        <input type="text" id="first_name" name="first_name" readonly value="{{ person.first_name }}">
    </div>

    <div>
        <label for="last_name">Прізвище:</label>
        <input type="text" id="last_name" name="last_name" readonly value="{{ person.last_name }}">
    </div>

    <div>
        <label for="birthday">Дата народження:</label>
        <input type="date" id="birthday" name="birthday" readonly value="{{person.birthday}}">
    </div>

    <div>
        <label for="sex">Стать:</label>
        {% if person.sex == 'F' %}
        <input type="text" id="sex" name="sex" readonly value="Жіноча">
        {% elif person.sex == 'M' %}
        <input type="text" id="sex" name="sex" readonly value="Чоловіча">
        {% else %}
        <input type="text" id="sex" name="sex" readonly value="{{ person.sex }}">
        {% endif %}
    </div>

    <div>
        <label for="assessor">Інспектор:</label>
        <input type="text" id="assessor" name="assessor">
    </div>

    <div>
        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" value="{{ today }}">
    </div>

    <div>
        <label for="venue">Місце проведення:</label>
        <input type="text" id="venue" name="venue">
    </div>

    <button type="submit">Розпочати</button>
</form>

{% endblock %}
