{% extends "base.html" %}

{% block title %}Новий гравець{% endblock %}

{% block content %}
<form method="POST" class="edit-form">

    <div>
        <label for="name">Ім'я</label>
        <input type="text" name="name" id="name" required>
    </div>

    <div>
        <label for="date_b">Дата народження</label>
        <input type="date" name="date_b" id="date_b">
    </div>

    <div>
        <label for="sex">Стать</label>
        <div class="point-boxes" id="sex">
            <input type="radio" id="female" name="sex" value="F" checked>
            <label for="female" class="point-box">Жіноча</label>
            <br>
            <input type="radio" id="male" name="sex" value="M">
            <label for="male" class="point-box">Чоловіча</label>
        </div>
    </div>

    <button type="submit">Створити</button>
</form>
{% endblock %}
