{% extends "base.html" %}

{% block title %}Groundstroke Depth{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/test_depth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/court.css') }}">
{% endblock %}

{% block content %}

{% include "training_route_container.html" %}
<h3>{{ title_of_task }}</h3>
<h5> Удар № {{number}} ({{ forbackhand }})</h5>
<div class="tennis-court">
  <div class="area-left-alley-top"></div>
  <div class="area-central-top"></div>
  <div class="area-right-alley-top"></div>
  <div class="area-left-service-top"></div>
  <div class="area-right-service-top"></div>
  <div class="area-net active-area" id="area_net"></div>
  <div class="area-left-alley-bottom active-area" id="area_left_alley"></div>
  <div class="area-left-service-bottom point1 active-area" id="area_left_service">1 бал</div>
  <div class="area-right-service-bottom point1 active-area" id="area_right_service">1 бал</div>
  <div class="area-right-alley-bottom active-area" id="area_right_alley"></div>
  <div class="area-central-bottom-1 point2 active-area" id="area_central1">2 бали</div>
  <div class="area-central-bottom-2 point3 active-area" id="area_central2">3 бали</div>
  <div class="area-central-bottom-3 point4 active-area" id="area_central3">4 бали</div>
  <div class="area-out-line active-area" id="area_out_line">Зона сили - 1 бал</div>
  <div class="area-out-powerline active-area" id="area_out_powerline">Зона сили - подвійні бали</div>
</div>

<script src="{{ url_for('static', path='/js/click_area_bounce.js') }}"></script>

{% endblock %}
