{% extends "base.html" %}

{% block title %}Мобільність{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/test_mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/court.css') }}">
{% endblock %}

{% block content %}

{% include "training_route_container.html" %}

<h3>Оцінка мобільності - ця оцінка вимірює час, який потрібен гравцеві, щоб підібрати п'ять тенісних м'ячів і
    повернути їх окремо  визначену зону.</h3>

{% include "res_mobility.html" %}


<script src="{{ url_for('static', path='/js/click_area_bounce.js') }}"></script>

{% endblock %}
